@page
@model StockLogger.Models.DTO.StockDataDto

<!DOCTYPE html>
<html>
<head>
    <style>

        .stock-info {
            padding: 20px;
            text-align: center;
            background: rgba(0, 0, 0, 0.6);
            border-radius: 10px;
            width: 50%;
            margin: 50px auto;
            flex-grow: 1;
        }

        .content-area {
            margin-left: 50px;
            padding: 20px;
            flex-grow: 1;
            transition: margin-left 0.3s ease;
        }

    </style>
</head>
<body>

    <div class="content-area">
        <div class="stock-info">
        </div>
    </div>
</body>
</html>
